.card {
    width: 90%;
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container {
    padding-top: 10%;
    padding-bottom: 10%;
}

.content {
    background-color: #f0dec6;
}